@import '../../assets/scss/variables';

//local variables
$select-padding: 10px;

.state-select {
  text-align: center;
  padding: $select-padding;
  border-radius: 3px;
  background: none;
  border-color: $border-color;
  color: $input-color;
  margin: 0 auto;
  font-size: 16px;
  &:focus {
    border-color: $active-border-color;
    color: $main-color;
  }
}