@import "~material-design-lite/material.min.css";
@import "~material-design-lite/src/_color-definitions.scss";
@import "~material-design-lite/src/_variables.scss";

body {
  background: $color-white;
  font-family: $preferred_font;
}

.mdl-grid {
  max-width: 800px;
  box-sizing: border-box;
  width: 100%;
}

.mdl-layout-title__centered {
  text-align: center;
}

.mdl-card-form {
  width: 100%;
}

.mdl-card__customize_values {
  padding-top: 0;
}
