.barchart {
	position: relative;
	max-width: 400px;
	margin: 60px auto;
	max-height: 250px;
	min-height: 250px;
	height: 250px;
}

.barchart__bar {
	position: absolute;
	bottom: 0;
	width: 190px;
	padding-top: 10px;
	padding-bottom: 10px;
	/* background: #2a92d3;
	background: -moz-linear-gradient(top, #2a92d3 0%, #00a5c6 100%);
	background: -webkit-linear-gradient(top, #2a92d3 0%,#00a5c6 100%);
	background: linear-gradient(to bottom, #2a92d3 0%,#00a5c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a92d3', endColorstr='#00a5c6',GradientType=0 ); */

	background: #3f51b5;
	background: -moz-linear-gradient(top, #3f51b5 0%, #2e44b2 100%);
	background: -webkit-linear-gradient(top, #3f51b5 0%,#2e44b2 100%);
	background: linear-gradient(to bottom, #3f51b5 0%,#2e44b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#2e44b2',GradientType=0 );

	color: white;
}

.barchart__bar:last-of-type {
	right: 0;
}

