@import '../../assets/scss/variables';

.main-section {
    color: $main-color;
    padding: 10px;
    font-family: $font-default;
    font-size: 30px;
}
.title {
    margin: 30px 0;
    font-size: 40px;
}